.App{

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
header{
    text-align: left;
    color: rgb(252, 179, 179);
 
}
form {
  width: 350px;
 
}

input {
  padding: 10px;
  margin: 5px 0;
  width: 100% !important;
  border: 2px solid burlywood ;
  border-radius: 25px;
  display: block;
}
.todo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.todo h2{
  padding-top: 10%;
  font-style: normal;
 
}
label {
  padding: 0 5px;
  /* margin: 10px; */
}
button {
  border: 0px solid rgb(80, 78, 77);
  padding: 10px ;
  background: rgb(170, 169, 169);
  color: #0e0c0c;
  width: 20%;
  margin: 1px;
  background-color: transparent;
}
.Account{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

}
.home{
  background-image: url('./assets/todo.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.homepage h1{
  color:snow;
  text-decoration: solid;
  text-align: center;
  justify-content: center;
  border: 0px solid #282c22;
  padding: 100px;
}


select{
  justify-content: center;
}
.links {

  display: inline-block;
  width: 100%;
}
.links a{
  display: inline-block;
  width: 100%;
  text-align: center;
  
}
.Search-bar{
  width: 18%;
}
.btn {
  
  justify-content: center;
  display: inline;
  padding: 5px ;
  color: #fff;
  border: 1px solid burlywood ;
  border-radius: 25px;
  margin: 0 10px;

}

ul  {
  width: 350px;
}
li {
  display: flex;
  color: white;
  justify-items: center;
  align-items: center;
  
}

li * {
  margin: 0 5px;
}
.btnLink{

width: 1.5cm;
height: 1cm;
}
/* Priority*/
.priority {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 0px;
}

.high {
  background-color: rgb(255, 208, 0);
}
.medium {
  background-color: whitesmoke
}
.low {
  background-color: black;
}

footer{

  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px; 
  background:transparent;
  color:black;
}